<div *ngIf="topic">
    <h1>{{topic.text}}</h1>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let post of topic.posts" id="p{{post.id}}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        {{post.text}}
                    </div>
                    <div class="col-sm-12 col-md-4 text-md-right small text-secondary">
                        {{post.date | date : 'medium'}}
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <new-post [topicId]="topic.id"></new-post>
</div>