<mat-list>
    <h3 mat-subheader>topics</h3>
    <mat-list-item *ngFor="let topic of topics">
        <p mat-line class="demo-2">{{topic.title}}</p>
    </mat-list-item>
    <mat-divider></mat-divider>


<!--
  <mat-list-item>
    13.7.2018
    <mat-icon mat-list-icon>X</mat-icon>
    <h4 mat-line>Fragen in Vorstellungsgesprächen zum Mediengestalter</h4>
    <p mat-line class="demo-2">12 Antworten</p>
  </mat-list-item>
  <mat-list-item>
      13.7.2018
      <mat-icon mat-list-icon>X</mat-icon>
      <h4 mat-line>Steuerbetrug im Online-Handel: Bundeskabinett beschließt Maßnahmenpaket</h4>
      <p mat-line class="demo-2">12 Antworten</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        13.7.2018
        <mat-icon mat-list-icon>X</mat-icon>
        <h4 mat-line>Fragen in Vorstellungsgesprächen zum Mediengestalter</h4>
        <p mat-line class="demo-2">12 Antworten</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        13.7.2018
        <mat-icon mat-list-icon>X</mat-icon>
        <h4 mat-line>Steuerbetrug im Online-Handel: Bundeskabinett beschließt Maßnahmenpaket</h4>
        <p mat-line class="demo-2">12 Antworten</p>
    </mat-list-item>
    <mat-divider></mat-divider>
-->  
    
</mat-list>